<!-- Toolbar -->
<mat-toolbar color="primary" class="app-header">
    <div>
      <a routerLink="" routerLinkActive="active" class="positronx">SMSZAP</a>
      <span class="zap-tool-items">
        <a mat-button routerLink="contacts" routerLinkActive="active"> My Contacts </a>
        <a mat-button routerLink="add-contact" routerLinkActive="active"> Add Contact </a>
        <a mat-button routerLink="messages" routerLinkActive="active"> Messages </a>
        <a mat-button routerLink="send-message" routerLinkActive="active"> Send Message</a>
      </span>
    </div>
    <span class="nav-tool-items">
      <a mat-button routerLink="login" routerLinkActive="active">Log in</a>
      <a mat-button mat-raised-button routerLink="register" routerLinkActive="active">Register</a>
    </span>
  </mat-toolbar>
  