<div class="gap"></div>
<div class="container">
    <form #addcontactForm="ngForm" (ngSubmit)="addcontact($event)" class="form-container">
        <mat-form-field appearance="fill">
            <mat-label>Enter Name</mat-label>
                <input type="text" name="name" matInput [(ngModel)] = "name">
            <mat-icon matSuffix>account_circle</mat-icon>
        </mat-form-field>
        <mat-form-field appearance="fill">
            <mat-label>Enter Number</mat-label>
                <input type="number" name="phone_number" matInput [(ngModel)] = "phone_number">
            <mat-icon matSuffix> contact_mail</mat-icon>
        </mat-form-field>
        <button type="submit" class="btn-space" mat-raised-button color="primary" > ADD </button>
    </form>
</div>
