<div class="login-wrapper" fxLayout="row" fxLayoutAlign="center center">

    <mat-card class="box">
      <mat-card-header>
        <mat-card-title>reset password</mat-card-title>
      </mat-card-header>
  
      <form class="example-form" (ngSubmit)="Reset($event)" action="/api/user/reset" method="post">
        <mat-card-content>
          <mat-form-field class="example-full-width">
            <input matInput placeholder="email" [(ngModel)] = "email" name="email" type="email" required>
          </mat-form-field>

          <mat-form-field class="example-full-width">
            <input matInput placeholder="new password" [(ngModel)] = "password" name="password" type="password" required>
          </mat-form-field>
  
          <mat-form-field class="example-full-width">
            <input matInput placeholder=" rewrite Password"  name="repassword" type="password" required>
          </mat-form-field>
        </mat-card-content>
        <button type="submit" mat-stroked-button color="accent" class="btn-block" >reset</button>
      </form>
    </mat-card>
  
  </div>